.carbon-component {
    ::ng-deep {
        .bx--dropdown {
            .bx--list-box__field {
                background: white;
                border: 1px solid black;
                .bx--list-box__selection--multi {
                    border-radius: 10px !important;
                    background: blue !important;
                }
            }
        }
    }
}

.bx--list-box__field {
    border: 1px solid;
}
