<div class="carbon-components">
    <div class="carbon-component dropdown">
        <div>
            <ibm-dropdown [label]="'Multi Select Dropdown'" [helperText]="''" type="multi" value="id" placeholder="Multi-select">
                <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
            </ibm-dropdown>
        </div>

        <!-- <ng-template #dropdownRenderer let-item="item">
            <div *ngIf="item && item.content" style="font-size: 14px;">
              {{item.id}}
            </div>
        </ng-template> -->
    </div>


    <div class="carbon-component dropdown">
        <ibm-dropdown [label]="'Single Select Dropdown'" [theme]="'light'" [helperText]="''" placeholder="Select Option"
            >
            <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
        </ibm-dropdown>
    </div>

</div>