.header {
  text-align: center;
  font-size: 22px;
  color: #cf1818;
  padding: 10px;
  text-transform: capitalize;
  position: relative;
  .btn {
    position: absolute;
    right: 18px;
  }
}
.main-sec {
  .slider {
    width: 100%;
    height: 350px;
    margin-left: 30px;
  }

  width: 100%;
  display: flex;
  height: 90vh;
  .left-side {
    width: 20%;
    padding: 20px;
    border: 1px solid;
    .label {
      cursor: pointer;
      margin: 2px;
      padding: 4px;
    }
    .selected {
      color: #28a728;
      background: #b289132e;
    }
  }
  .right-side {
    width: 80%;
    border: 1px solid black;

    .simple-slider {
      width: 450px;
      height: 300px;
      padding: 20px;
    }
  }
}

.simpleSlider {
  width: 500px;
  margin: 22px;
  border: 2px solid black;
  padding: 24px;
  height: 300px;
}

.vertical-slider {
  padding-left: 180px !important;
  padding-top: 20px !important;
}

// .ticks {
//   ::ng-deep {
//     ..ng5-slider .ng5-slider-pointer{
//       cursor: pointer;
//       width: 34px;
//       height: 14px;
//       top: -14px;
//       background-color: #0db9f0;
//       z-index: 3;
//       // /* border-radiu
//     }
//     .ng5-slider .ng5-slider-pointer:after {
//       content: "";
//       width: 6px;
//       height: 6px;
//       position: absolute;
//       top: 4px;
//       left: 13px;
//       border-radius: 4px;
//       background: #fff;
//     }
//   }
// }

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .insurance .ng5-slider-inner-tooltip {
    // visibility: hidden !important;
  }

  .insurance .ng5-slider .ng5-slider-tick {
    width: 0px !important;
  }
  .insurance .ng5-slider .ng5-slider-bar {
    // background: #6dd400 !important;
    width: 6px !important;
  }
  .ng5-slider-ceil,
  .ng5-slider-floor {
    display: none !important;
  }
  .ng5-slider.vertical .ng5-slider-tick-legend {
    top: 1px !important;
    right: 25px !important;
  }

  .ng5-slider-model-value {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0px;
    background-color: rgb(255, 255, 255);
    font-family: IBMPlexMono;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.1px;
    color: rgb(35, 38, 56);
    width: 32px;
    padding: 4px 8px !important;
    height: 20px;
  }

  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #6dd400;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .insurance .ng5-slider .ng5-slider-pointer {
    // width: 20px;
    // height: 20px;
    // top: auto; /* to remove the default positioning */
    // bottom: 0;
    // background-color: #333;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
  }
  .insurance.ng5-slider.vertical .ng5-slider-pointer {
    left: -6px !important;
    top: auto;
    border: 1px solid black !important;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
  }
}

input.vertical {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}
