.header {
  text-align: center;
  font-size: 22px;
  color: #cf1818;
  padding: 10px;
  text-transform: capitalize;
  position: relative;
  .btn {
    position: absolute;
    right: 18px;
  }
}
.main-sec {
  .slider {
    width: 100%;
    height: 350px;
    margin-left: 30px;
  }

  width: 100%;
  display: flex;
  height: 90vh;
  .left-side {
    width: 20%;
    padding: 1.25rem;
    border: 1px solid;
    .label {
      cursor: pointer;
      margin: 2px;
      padding: 4px;
    }
    .selected {
      color: #28a728;
      background: #b289132e;
    }
  }
  .right-side {
    width: 80%;
    border: 1px solid black;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.7);
    .simple-slider {
      width: 450px;
      height: 300px;
      padding: 20px;
    }
  }
}

.simpleSlider {
  width: 500px;
  margin: 22px;
  border: 2px solid black;
  padding: 24px;
  height: 300px;
}

.vertical-slider {
  padding-left: 180px !important;
  padding-top: 20px !important;
}
// .ticks {
//   ::ng-deep {
//     ..ngx-slider .ngx-slider-pointer{
//       cursor: pointer;
//       width: 34px;
//       height: 14px;
//       top: -14px;
//       background-color: #0db9f0;
//       z-index: 3;
//       // /* border-radiu
//     }
//     .ngx-slider .ngx-slider-pointer:after {
//       content: "";
//       width: 6px;
//       height: 6px;
//       position: absolute;
//       top: 4px;
//       left: 13px;
//       border-radius: 4px;
//       background: #fff;
//     }
//   }
// }

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .insurance .ngx-slider-inner-tooltip {
    // visibility: hidden !important;
  }

  .insurance .ngx-slider .ngx-slider-tick {
    width: 0px !important;
  }
  .insurance .ngx-slider .ngx-slider-bar {
    // background: #6dd400 !important;
    width: 7px !important;
    border-radius: 3px !important;
  }
  .ngx-slider-selection {
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.36) !important;
    background-color: #6dd400 !important;
  }
  .ngx-slider-ceil,
  .ngx-slider-floor {
    display: none !important;
  }
  .ngx-slider.vertical .ngx-slider-tick-legend {
    top: -3px !important;
    right: 25px !important;
  }

  .ngx-slider-model-value {
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0px;
    background-color: rgb(255, 255, 255);
    font-family: IBMPlexMono;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.1px;
    color: rgb(35, 38, 56);
    padding: 3px 10px !important;
    margin-left: 5px;
  }

  .ngx-slider.vertical .ngx-slider-pointer {
    width: 22px !important;
    height: 19px !important;
    left: -8px !important;
    transform: rotate(-270deg);
    border-radius: 10px;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.1), 2px 0 0 0 #c2c5cb, inset 1px 0 0 2px #ffffff;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #c2c5cb 0%, #ececec 54%, #c2c5cb 100%);
    border-image-slice: 1;
    background-image: linear-gradient(to left, #f0f2f4 96%, #f9fafa 53%, #eff1f4),
      linear-gradient(to right, #c2c5cb 0%, #ececec 54%, #c2c5cb 100%);
    //background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .ngx-slider-pointer:focus {
    outline: none !important;
  }
  .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
    background-color: #1c2838 !important;
  }
  .ngx-slider.vertical .ngx-slider-bar-wrapper {
    margin: 0 0 0 -21px !important;
  }
  .ngx-slider-pointer:after {
    width: 2px !important;
    height: 4px !important;
    top: 40% !important;
    left: 46% !important;
    border-radius: 2px !important;
    background-color: #1c2838 !important;
  }
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #6dd400;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .insurance .ngx-slider .ngx-slider-pointer {
    // width: 20px;
    // height: 20px;
    // top: auto; /* to remove the default positioning */
    // bottom: 0;
    // background-color: #333;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
  }
  .insurance.ngx-slider.vertical .ngx-slider-pointer {
    left: -6px !important;
    top: auto;
    border: 1px solid black !important;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: orange;
  }
}

input.vertical {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}
