<div class="header"> Slider Feasibilty
</div>
<div class="main-sec">
    <div class="left-side">
        <div *ngFor="let item of items" class="label" (click)="selectedItem=item"
            [ngClass]="{'selected' : selectedItem==item}">{{item}}</div>
    </div>


    <div class="right-side">

        <div class="simple-slider" *ngIf="selectedItem=='Simple Slider'">
            <ng5-slider [(value)]="value" [options]="options" (userChangeEnd)="valueUpdated($event)">
            </ng5-slider>
        </div>

        <div class="simple-slider vertical-slider" *ngIf="selectedItem=='Simple Vertical Slider'">
            <ng5-slider [(value)]="value" [options]="verticaloptions">
            </ng5-slider>
        </div>

        <div class="simple-slider vertical-slider ticks" *ngIf="selectedItem=='Slider with Ticks'">
            <ng5-slider [(value)]="sliderWithTickValue" [options]="sliderWithTickOptions"></ng5-slider>
        </div>

        <div class="simple-slider custom-slider" *ngIf="selectedItem=='Custom Slider with Ticks'">
            <ng5-slider [(value)]="lowValue" [(highValue)]="highValue" [options]="customSliderWithTickOptions">
            </ng5-slider>
        </div>

        <div class="insurance simple-slider vertical-slider ticks" *ngIf="selectedItem=='Insurance Development Slider'">
            <ng5-slider [(value)]="insuranceSliderTickValue" [tooltip]="insuranceSliderTickValue" placement="right"
                [(ngModel)]="insuranceSliderTickValue" [options]="insuranceDevelopmentSlider">
            </ng5-slider>
            {{insuranceSliderTickValue}}
            <!-- [tooltip]="insuranceSliderTickValue"  placement="right" show-delay="300" -->


            <!-- <span *ngIf="show" [tooltip]="insuranceSliderTickValue"  placement="right" show-delay="300">helllooo</span> -->

        </div>


        <div *ngIf="selectedItem=='HTML5 Slider'">
            <app-html5-slider></app-html5-slider>
        </div>

    </div>
</div>