.slider-block {
    display: flex;
    width: 100%;
    height: 100%;
    .slider-value {
        width: 160px;
        padding: 20px;
    }
    .reset-button {
        height: 36px;
        width: 98px;
        margin: 13px;
        border-radius: 14%;
        color: black;
        background: #4278d3;
        font-weight: 600;
        font-size: 12px;
        border: none;
        text-transform: capitalize;
        outline: none;
        border: 1px solid black;
    }
    .slider-value::before {
        content: "Selected Value : ";
        width: 20px;
        height: 20px;
        color: green;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
    }
}
