.range-slider {
    input {
        width: 150px;
        height: 290px !important;
    }
}

input.vertical {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}

.slider-value {
    top: 242px;
    position: fixed;
    border: 1px solid black;
    color: green;
    padding: 9px;
    width: 80px;
}
