.header {
    text-align: center;
    font-size: 22px;
    color: green;
    padding: 10px;
    text-transform: capitalize;
    position: relative;
    .btn {
        position: absolute;
        right: 18px;
    }
}
.main-sec {
    .slider {
        width: 100%;
        height: 350px;
        margin-left: 30px;
    }

    width: 100%;
    display: flex;
    height: 90vh;
    .left-side {
        width: 20%;
        padding: 20px;
        border: 1px solid;
        .label {
            cursor: pointer;
            margin: 2px;
            padding: 4px;
        }
        .selected {
            color: #28a728;
            background: #b289132e;
        }
    }
    .right-side {
        width: 80%;
        border: 1px solid black;
    }
}

.highcharts-legend-item path {
    display: none;
}

.slider {
    ::ng-deep {
        .ng5-slider.vertical .ng5-slider-pointer {
            width: 70px;
            border: 1px solid black;
            border-radius: 1%;
            background-color: #4278d3;
            height: 16px;
        }
        .ng5-slider.vertical {
            margin: 6px 52px;

            .ng5-slider-bar {
                width: 10px;
                background: black;
            }
            .ng5-slider-bubble {
                bottom: 300px;

                .ng5-slider-limit.ng5-slider-ceil {
                    bottom: 0px;
                }
            }
            .ng5-slider-tick-value {
                left: -40px;
                top: -2px;
                font-size: 14px;
                font-weight: 1000;
                display: none;
            }
            .ng5-slider-tick-legend {
                left: -72px;
                font-weight: 600;
            }
        }

        .ng5-slider {
            .ng5-slider-tick {
                width: 40px;
                height: 5px;
                background: black;
                left: -7px;
                border-radius: 1%;
            }
            .ng5-slider-pointer:after {
                top: 4px;
                left: 14px;
                height: 0px;
            }
        }
    }
}

.simpleSlider{
    width: 500px;
    margin: 22px;
    border: 2px solid black;
    padding: 24px;
}
.right-side {
    ::ng-deep {
        text.highcharts-title {
            font-size: 14px !important;
            text-anchor: end;
        }
        rect.highcharts-background {
            opacity: 0.4;
        }
    }
}
