.main {
   
    background-size: cover;
} .night{     background-image: url("../assets/images/night.jfif");     color: white;


// }

 .day{     background-image: url("../assets/images/day.jfif");
 }

