.container {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    padding: 10px;
    margin-top: 74px;
    .block {
        border: 2px solid;
        width: 250px;
        height: 500px;
        // display: flex;
        float: left;
        justify-content: center;
        align-items: center;
        color: white;
        transition: 0.5s;
        font-size: 20px;
        width: 250px;
        position: relative;
        overflow: hidden;
    }

    .chart {
        width: 450px;
        height: 100%;
        position: absolute;
    }
    .dashlet1 {
        // background-image: radial-gradient(circle at -89% 0, rgba(175, 111, 177, 0.76), #08a87c 97%);

      
    }

    .dashlet2 {
        // background-image: radial-gradient(circle at -89% 0, rgba(175, 111, 177, 0.76), #5f4bb2 97%);
    }
    .dashlet3 {
        // background-image: radial-gradient(circle at -89% 0, rgba(175, 111, 177, 0.76), #248abf 97%);
    }
}
