<div class="ibm">
    <div>
        <button ibmButton (click)="alert()">Default Primary Button</button>
    </div>
    <div>
        <button ibmButton='danger' size="sm" (click)="alert()">same size Danger Button</button>
    </div>


    <div>
        <legend class="bx--label">test</legend>
        <ibm-checkbox checked="true">
            Checkbox
        </ibm-checkbox>
    </div>

    <div>
        <div style="width: 300px">
            <ibm-dropdown [label]="'List Items'" [helperText]="'helperText'" [invalid]="false" [invalidText]="'Nooooo'"
             placeholder="Items Dropdown" [disabled]="false">
                <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
            </ibm-dropdown>

        </div>
        
    </div>
    <div>
        <textarea
            ibmTextArea
            [placeholder]="'placeholder'"
            [theme]="'dark'"
            [rows]="'2'"
            [cols]="'2'"
            aria-label="textarea"></textarea>
    </div>

    
</div>