<div class="header"> Greensock POC</div>
<div class="main-sec">
    <div class="left-side">
        <div *ngFor="let item of items" class="label" (click)="selectedItem=item; action(item)"
            [ngClass]="{'selected' : selectedItem==item}">{{item}}</div>
    </div>


    <div class="right-side">
        <div class="car" *ngIf="selectedItem=='move'">
            <img class="img" src="../../../assets/images/car3.jpg">
        </div>
        <div class="football" *ngIf="selectedItem=='bounce'||selectedItem=='scroll'">
            <img class="img" src="../../../assets/images/football.png">
        </div>
        <div class="rotate" *ngIf="selectedItem=='rotate'">
            <img class="img" src="../../../assets/images/car3.jpg">
        </div>
        <div *ngIf="selectedItem=='scrollToPlugin'">
            <button (click)="scrollToPlugin()">Scroll to Section 2</button>
            <h1 class="Section1">Section 1</h1>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh quam, egestas eu eros molestie,
                eleifend
                viverra augue. Suspendisse potenti. Quisque commodo consectetur quam, non pretium orci viverra at.
                Maecenas
                eget iaculis nunc.

                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus
                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementes, nascetur ridiculus mus.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh quam, egestas eu eros molestie,
                eleifend
                viverra augue. Suspendisse potenti. Quisque commodo consectetur quam, non pretium orci viverra at.
                Maecenas
                eget iaculis nunc.
            </div>
            <h1 class="Section2">Section 2</h1>
            <div class="content">
                Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus
                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,

                consectetur condimentum. Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh,
                ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales massa.

                Praesent at pellentesque augue. Nunc sed ullamcorper risus. Duis tincidunt consectetur condimentum.
                Suspendisse pharetra purus urna, ac pretium mi elementum et. Praesent dui nibh, ullamcorper in justo
                sed,
                volutpat cursus orci. Etiam vitae sodales massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus.

                Mi elementum et. Praesent dui nibh, ullamcorper in justo sed, volutpat cursus orci. Etiam vitae sodales
                massa. Cum sociis natoque penatibus et magnis dis parturient montes,
            </div>
        </div>

    </div>

</div>